In [1]:
import pandas as pd
sales_train_df = pd.read_csv('../input_data/rossmann_store_sales/train.csv', low_memory = False)
sales_train_df.head(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [2]:
sales_train_df["StateHoliday"].unique()

array(['0', 'a', 'b', 'c'], dtype=object)

In [3]:
sales_train_df["StateHoliday"] = sales_train_df["StateHoliday"].replace("0", "None")
sales_train_df.tail(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [4]:
sales_train_df.to_csv('../input_data/rossmann_store_sales/processed_train.csv', index=False)

In [5]:
processed_sales_train_df = pd.read_csv('../input_data/rossmann_store_sales/processed_train.csv', low_memory = False)
processed_sales_train_df["StateHoliday"].unique()

array([nan, 'a', 'b', 'c'], dtype=object)